body {
    margin: 0;
    font-family: 'Verdana', Arial, sans-serif;
}

.top {
    box-sizing: content-box;
    background-color: rgb(167, 233, 255);
    background-image: image();
    margin: 0px;
    padding: 3rem;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    margin: 0px;
    text-align: center;
    font-weight: 500;
    background-color: white;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    height: 46;
}

.bottom {
    background-color: rgb(238, 238, 238);
    margin: 2rem 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

h2,
ul {
    margin: 1rem 2rem 1.5rem;
    font-weight: 100;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
